#PORT=8000
#CORS_ORIGIN=*
#This is an example:-CORS_ORIGIN=http://localhost:3000 # Add the frontend you want to get requsts from to make the system more secure.

#MONGODB_URI

#ACCESS_TOKEN_SECRET
#ACCESS_TOKEN_EXPIRY=1d

#REFRESH_TOKEN_SECRET
#REFRESH_TOKEN_EXPIRY=10d

#CLOUDINARY_CLOUD_NAME

#CLOUDINARY_API_KEY

# CLOUDINARY_API_SECRET

#NODE_ENV